.getaquote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0rem 20rem;
    height: 100vh;
    margin-top: 20rem;
}

.getaquote-headline {
    align-self: flex-start;
    font-size: 2.5rem;
    font-weight: 700;
    color: #3B9AE1;
}

.getaquote-requests-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.request-card-container:link, 
.request-card-container:visited {
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: #fff;
    padding: 2rem;
    font-size: 1.6rem;
    line-height: 1.5;
    text-decoration: none;
    border-radius: 2rem;
    color: #444;
}

.request-card-type {
    font-size: 2rem;
    font-weight: 600;
    color: #3B9AE1;
}

@media (min-width : 160em) {
    .getaquote-container {
        padding: 0 50rem;
    }
}

@media (max-width : 90em) {
    .getaquote-container {
        padding: 0 10rem;
    }
}

@media (max-width : 64em) {
    .getaquote-container {
        padding: 0 3rem;
        padding-top: 15rem;
        margin-top: 0;
    }
}

@media (max-width : 51.25em) {
    .getaquote-requests-container {
        grid-template-columns: 1fr;
        margin-top: 0;
    }
}

@media (min-width : 18.75em) and (max-width : 47.94em) {
    .getaquote-container {
        height: 100vh;
        justify-content: flex-start;
        padding-top: 10rem;
        margin-top: 0;
    }
}