.product-container {
    border: .2rem solid #3B9AE1;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 3rem;
    align-items: center;
    font-size: 2rem;
    color: #444;
    background-color: #fff;
}

.product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.product-term {
    font-size: 1.4rem;
}

.product-rate {
    font-size: 4rem;
    font-weight: bold;
    color: #3B9AE1;
}

.product-selection-button {
    padding: 1.5rem 5rem;
    border: none;
    border-radius: 1rem;
    background-color: #3B9AE1;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width : 90em) {
    .product-container {
        text-align: center;
    }
}