.productspage-container {
    padding: 20rem 20rem 0 20rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    position: relative;
    height: 150vh;
}

.productspage-headlines {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-align: center;
}

.productspage-headlines b {
    color: #3B9AE1;
}

.productspage-products {
    display: flex;
    gap: 10rem;
}

.afterclick-container {
    position: fixed;
    top: 13rem;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

.afterclickmessage-success-container,
.afterclickmessage-failed-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    font-size: 2rem;
    background-color: #fff;
    padding: .5rem 3rem;
    border-radius: 2rem;
    transition: all 0.5s;
    height: 7rem;
}

.afterclickmessage-success-container {
    color: #38E54D;
    border: .2rem solid #38E54D;
}

.afterclickmessage-failed-container {
    color: red;
    border: .2rem solid red;
}

.afterclickmessage-success-button:link, 
.afterclickmessage-success-button:visited,
.afterclickmessage-failed-button {    
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    border: none;
}

.afterclickmessage-success-button:link, 
.afterclickmessage-success-button:visited {
    background-color: #38E54D;
}

.afterclickmessage-failed-button {
    background-color: red;
}

@media (max-width : 90em) {
    .productspage-products {
        gap: 2.5rem;
    }
    .afterclick-container {
        top: 13rem;
    }
}

@media (max-width : 51.25em) {
    .productspage-products {
        flex-direction: column;
        gap: 3rem;
    }
    .productspage-container {
        padding-top: 12rem;
    }
    .afterclick-container {
        top: 12.5rem;
    }
}

@media (max-width : 48em) {
    .afterclick-container {
        top: 8rem;
    }
}

@media (max-width : 23.5em) {
    .productspage-headlines {
        font-size: 3rem;
    }
}

@media (max-width : 20em) {
    .productspage-headlines {
        font-size: 2.85rem;
    }
}

@media (min-width : 18.75em) and (max-width : 47.94em) {
    .productspage-container {
        padding-top: 9rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .afterclickmessage-success-container,
    .afterclickmessage-failed-container {
        width: 90%;
        font-size: 1.7rem;
        padding: .5rem 1.5rem;
        justify-content: space-between;
    }
    .afterclickmessage-success-button:link,
    .afterclickmessage-success-button:visited,
    .afterclickmessage-failed-button {
        text-align: center;
    }
}