.review-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 20rem 20rem;
    align-items: center;
}

.review-page-title {
    font-size: 3rem;
    color: #3B9AE1;
    font-weight: 600;
    letter-spacing: .1rem;
}

.review-page-button {
    border: none;
    padding: 1.5rem 5rem;
    font-size: 2rem;
    border-radius: 1rem;
    background-color: #3B9AE1;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.overlay {
    position: absolute;
    top: 13rem;
    display: flex;
    justify-content: center;
}

.success-container,
.failure-container {
    background-color: #fff;
    border-radius: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
}

.success-container {
    border: .2rem solid #38E54D;
}

.failure-container {
    border: .2rem solid red;
}

.failure-container span {
    color: red;
}

.headlines-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: center;
    color: #38E54D;
    text-align: center;
}

.success-button,
.failure-button {
    padding: 1rem 3rem;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: inherit;
}

.success-button {
    background-color: #38E54D;
}

.failure-button {
    background-color: red;
}

@media (max-width : 51.25em) {
    .review-page-container {
        padding: 17rem 10rem;
    }

    .success-container,
    .failure-container {
        font-size: 1.6rem;
    }

    .overlay {
        top: 12rem;
    }
}

@media (max-width : 48em) {
    .overlay {
        top: 8rem;
    }
    .success-container,
    .failure-container {
        font-size: 1.8rem;
    }
}

@media (max-width : 31.25em) {
    .review-page-container {
        padding: 16rem 3rem;
    }

    .success-container,
    .failure-container {
        padding: 1rem 1.5rem;
    }

    .overlay {
        top: 7.5rem;
    }
}