.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5rem 20rem;
    box-shadow: 0 0 150rem 0.01rem rgba(85, 85, 85, 0.267);
    background-color: #fff;
}

.navbar-logo, .letter-o {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

.letter-o {
    color: #3B9AE1;
}

.navbar-buttons-container {
    display: flex;
    gap: 2rem;
}

.navbar-getaquote-button, 
.navbar-applications-button {
    padding: .7rem 2.5rem;
    border-radius: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.navbar-getaquote-button {
    border: 0.1rem solid #3B9AE1;    
    background-color: #3B9AE1;
    color: #fff;
}

.navbar-getaquote-button:hover {
    background-color: #0e4c7a;
    border: 0.1rem solid #0e4c7a; 
}

.navbar-applications-button {
    border: 0.1rem solid #3B9AE1;
    background-color: #fff;
    color:  #3B9AE1;
}

.navbar-applications-button:hover {
    border: 0.1rem solid #0e4c7a;
    color:  #0e4c7a;
}

.responsive-button {
    display: none;
}

@media (max-width : 60em) {
    .navbar {
        padding: 3rem;
    }
}

@media (max-width : 48em) {
    html {
        font-size: 50%;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .navbar-buttons-container {
        display: none;
    }
    .responsive-button {
        border: none;
        display: inline;
        background-color: #3B9AE1;color: #fff;
        font-size: 2rem;
        padding: 2rem 3rem;
    }
    .navbar-logo {
        margin-left: 3rem;
    }
    .responsive-menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0;
        width: 100%;
        position: absolute;
        background-color: #333;
        font-size: 2rem;
        z-index: 9999;
    }
    .responsive-link:link,
    .responsive-link:visited {
        text-decoration: none;
        color: #fff;
        display: inline-block;
    }
    hr {
        width: 100%;
        border: none;
        height: .1rem;
        background-color: #fff;
    }
}

